In [1]:
import pandas
import datetime
import numpy
import scipy.optimize
import seaborn as sns
import matplotlib.pyplot as plt
import os
import time
import bs4
import urllib
from matplotlib.colors import ListedColormap
from matplotlib.colors import Normalize
from matplotlib import ticker
%matplotlib inline
from matplotlib import rcParams

In [2]:
# setup some cutoff values we'll use in the analysis
velCutoffUpper = 2000.
velCutoffLower = 0.
numPointsCutoffMLTMLAT = 250
mlatCutOffUpper = 70.

In [3]:
velGmagDF = pandas.read_csv("../data/processed-vels-geomag.txt", sep=' ',\
                            parse_dates=["date", "dst_date"], infer_datetime_format=True)
velGmagDF = velGmagDF.drop('Unnamed: 0', axis=1)
# Filter out some values where number of datapoints are pretty low.
countDF = velGmagDF.groupby([ "normMLT", "MLAT" ]).size().reset_index()
countDF.columns = [ "normMLT", "MLAT", "count" ]
# Choose only columns which have atleast 100 points
countDF = countDF[ countDF["count"] >= numPointsCutoffMLTMLAT ].reset_index(drop=True)
# Merge with velsDataDF to filter out unwanted values
velGmagDF = pandas.merge( velGmagDF, countDF,\
                          on=["normMLT", "MLAT"], how='inner' )
# Discard unwanted values
# We'll only consider those velocities 
# which lie between 0 and 2500 m/s
# and located below 70 MLAT
velGmagDF = velGmagDF[ (velGmagDF["vSaps"] > velCutoffLower) \
                        & (velGmagDF["vSaps"] < velCutoffUpper)\
                       ].reset_index(drop=True)
velGmagDF = velGmagDF[ velGmagDF["MLAT"] < mlatCutOffUpper ].reset_index(drop=True)
velGmagDF.head()

,normMLT,MLAT,vSaps,azim,vMagnErr,azimErr,dtStr,tmStr,date,hour,dst_date,dst_index,dst_bin,AE,AL,AO,AU,minute,count
0,-4,60.5,634.32,-10.10,7.19,21.54,20130316,500,2013-03-16 05:00:00,5,2013-03-16 05:00:00,-19,"(-25, -10]",731,-575,-210,156,0,2677
1,-4,60.5,609.64,-10.92,3.58,9.73,20130316,502,2013-03-16 05:02:00,5,2013-03-16 05:00:00,-19,"(-25, -10]",651,-524,-199,127,2,2677
2,-4,60.5,613.71,-12.20,4.15,8.27,20130316,504,2013-03-16 05:04:00,5,2013-03-16 05:00:00,-19,"(-25, -10]",586,-470,-177,116,4,2677
3,-4,60.5,778.50,-16.19,3.80,4.90,20130316,506,2013-03-16 05:06:00,5,2013-03-16 05:00:00,-19,"(-25, -10]",562,-418,-137,144,6,2677
4,-4,60.5,578.11,-15.40,7.43,12.92,20130316,508,2013-03-16 05:08:00,5,2013-03-16 05:00:00,-19,"(-25, -10]",569,-450,-166,119,8,2677

In [4]:
# Lets get max, min and std.dev across each MLT for each time
# this way we'll try to isolate SAID channels
maxVelDF = velGmagDF.groupby( ["date", "normMLT"] )[ "vSaps", "azim", "MLAT" ].max().reset_index()
maxVelDF.rename(columns={'vSaps': 'vSapsMax','azim': 'azimMax','MLAT': 'mlatMax'}, inplace=True)

minVelDF = velGmagDF.groupby( ["date", "normMLT"] )[ "vSaps", "azim", "MLAT" ].min().reset_index()
minVelDF.rename(columns={'vSaps': 'vSapsMin','azim': 'azimMin','MLAT': 'mlatMin'}, inplace=True)

medianVelDF = velGmagDF.groupby( ["date", "normMLT"] )[ "vSaps", "azim", "MLAT" ].median().reset_index()
medianVelDF.rename(columns={'vSaps': 'vSapsMedian','azim': 'azimMedian','MLAT': 'mlatMedian'}, inplace=True)

stdVelDF = velGmagDF.groupby( ["date", "normMLT"] )[ "vSaps", "azim", "MLAT" ].std().reset_index()
stdVelDF.rename(columns={'vSaps': 'vSapsStd','azim': 'azimStd','MLAT': 'mlatStd'}, inplace=True)

sapsDF = maxVelDF.merge( minVelDF, on=["date","normMLT"] ).\
                merge( medianVelDF, on=["date","normMLT"] ).\
                merge( stdVelDF, on=["date","normMLT"] )

sapsDF.head()

,date,normMLT,vSapsMax,azimMax,mlatMax,vSapsMin,azimMin,mlatMin,vSapsMedian,azimMedian,mlatMedian,vSapsStd,azimStd,mlatStd
0,2011-02-05 02:30:00,-5,704.08,-7.26,63.5,227.38,-9.81,59.0,580.705,-8.355,61.25,146.690838,0.949695,1.513825
1,2011-02-05 02:30:00,-4,704.08,-7.26,63.0,543.42,-9.81,59.5,606.970,-7.960,61.25,58.850929,0.951502,1.224745
2,2011-02-05 02:30:00,-3,635.56,-5.38,63.0,531.04,-7.26,59.5,612.110,-6.355,61.25,36.448429,0.667014,1.224745
3,2011-02-05 02:32:00,-5,615.93,-4.76,63.5,213.15,-8.53,59.0,555.810,-7.260,61.25,161.409982,1.014580,1.513825
4,2011-02-05 02:32:00,-4,615.93,-4.76,63.0,498.32,-8.53,59.5,586.435,-6.955,61.25,45.000333,1.301498,1.224745

In [5]:
# We'll set up a few criteria for isolating SAID channels
# 1) SAID datetimes have max velocities greater than 1000 m/s
sapsDF = sapsDF[ sapsDF["vSapsMax"] >= 1000. ].reset_index(drop=True)
# 2) Latitude difference (max-min) is greater than 2 degrees
sapsDF = sapsDF[ (sapsDF["mlatMax"] - sapsDF["mlatMin"]) > 2. ].reset_index(drop=True)
# 3) Stdev in Velocities should be greater than 250 m/s
sapsDF = sapsDF[ sapsDF["vSapsStd"] > 250. ].reset_index(drop=True)
sapsDF.head()

,date,normMLT,vSapsMax,azimMax,mlatMax,vSapsMin,azimMin,mlatMin,vSapsMedian,azimMedian,mlatMedian,vSapsStd,azimStd,mlatStd
0,2011-03-02 02:26:00,-2,1923.54,-5.61,62.5,928.08,-12.97,59.0,1312.330,-7.700,60.50,341.606848,3.153589,1.205148
1,2011-03-02 02:28:00,-2,1594.03,-5.81,61.5,877.95,-15.31,59.0,1259.895,-8.625,60.25,292.061807,3.848966,0.935414
2,2011-03-12 00:50:00,-5,1179.78,4.11,61.0,188.28,2.68,58.5,942.670,3.205,59.75,346.923597,0.727225,0.935414
3,2011-03-12 00:50:00,-4,1128.93,4.25,61.0,489.12,2.68,58.0,1004.240,4.110,59.50,263.770741,0.803818,1.080123
4,2011-03-12 00:52:00,-4,1185.96,4.02,60.5,465.18,3.73,58.0,1024.165,3.735,59.25,250.021061,0.116862,0.935414

In [6]:
# Now merge the sapsDF dates with velGmagDF
sapsDF = pandas.merge( sapsDF, velGmagDF, on=["date", "normMLT"] )
# Now we need to select columns which have velocities close to vMax
# I'll set this to be within 100 m/s of vMax
sapsDF = sapsDF[ (sapsDF["vSapsMax"] - sapsDF["vSaps"] ) <= 100. ].reset_index()
selCols = [ "date", "normMLT", "vSaps", "vSapsMax", "vSapsMin", "vSapsMedian", "MLAT"]

In [7]:
dateMLTCountDF = sapsDF.groupby( ["date"] )["normMLT"].nunique()
# We'll consider only those dates where SAID channel is present for more than 1 MLT
# This will prevent any stray values from entering the results
selDateList = dateMLTCountDF[dateMLTCountDF>1].index.tolist()
# Select only those dates which are in the list
sapsDF = sapsDF[ sapsDF["date"].isin(selDateList) ].reset_index(drop=True)
print sapsDF[selCols]

                    date  normMLT    vSaps  vSapsMax  vSapsMin  vSapsMedian  \
0    2011-03-12 00:50:00       -5  1179.78   1179.78    188.28      942.670
1    2011-03-12 00:50:00       -4  1092.67   1128.93    489.12     1004.240
2    2011-03-12 00:50:00       -4  1128.93   1128.93    489.12     1004.240
3    2011-03-12 00:50:00       -4  1092.67   1128.93    489.12     1004.240
4    2011-04-03 04:08:00       -4  1234.03   1252.99    425.48     1101.470
5    2011-04-03 04:08:00       -4  1244.73   1252.99    425.48     1101.470
6    2011-04-03 04:08:00       -4  1252.99   1252.99    425.48     1101.470
7    2011-04-03 04:08:00       -4  1252.99   1252.99    425.48     1101.470
8    2011-04-03 04:08:00       -4  1245.52   1252.99    425.48     1101.470
9    2011-04-03 04:08:00       -3  1450.65   1450.65    529.48      882.170
10   2011-04-03 04:12:00       -5  1271.42   1353.90    535.96     1108.390
11   2011-04-03 04:12:00       -5  1353.90   1353.90    535.96     1108.390
12   2011-04-03 04:12:00       -5  1318.10   1353.90    535.96     1108.390
13   2011-04-03 04:12:00       -3  1382.85   1382.85    563.27      887.995
14   2011-04-03 04:12:00       -3  1307.85   1382.85    563.27      887.995
15   2011-04-03 04:12:00       -3  1284.65   1382.85    563.27      887.995
16   2011-04-03 04:16:00       -4  1107.67   1200.44    401.98      918.050
17   2011-04-03 04:16:00       -4  1195.94   1200.44    401.98      918.050
18   2011-04-03 04:16:00       -4  1200.44   1200.44    401.98      918.050
19   2011-04-03 04:16:00       -3   921.73   1015.23    178.91      887.960
20   2011-04-03 04:16:00       -3   967.81   1015.23    178.91      887.960
21   2011-04-03 04:16:00       -3  1015.23   1015.23    178.91      887.960
22   2011-04-03 04:16:00       -3  1002.76   1015.23    178.91      887.960
23   2011-04-03 04:16:00       -1  1765.22   1765.22    573.32      719.840
24   2011-04-03 04:26:00       -5  1062.03   1136.32    255.71      985.260
25   2011-04-03 04:26:00       -5  1136.32   1136.32    255.71      985.260
26   2011-04-03 04:26:00       -5  1127.67   1136.32    255.71      985.260
27   2011-04-03 04:26:00       -5  1120.71   1136.32    255.71      985.260
28   2011-04-03 04:26:00       -4  1290.82   1290.82    264.60     1108.870
29   2011-04-03 04:26:00       -4  1290.82   1290.82    264.60     1108.870
...                  ...      ...      ...       ...       ...          ...
8577 2014-10-09 11:16:00       -2  1467.21   1542.19    770.78     1469.685
8578 2014-10-09 11:16:00       -2  1514.36   1542.19    770.78     1469.685
8579 2014-10-09 11:16:00       -2  1542.19   1542.19    770.78     1469.685
8580 2014-10-09 11:16:00       -2  1472.16   1542.19    770.78     1469.685
8581 2014-10-09 11:16:00       -2  1484.64   1542.19    770.78     1469.685
8582 2014-10-09 11:16:00        0  1240.14   1307.17    262.13     1150.680
8583 2014-10-09 11:16:00        0  1307.17   1307.17    262.13     1150.680
8584 2014-10-09 11:16:00        0  1233.38   1307.17    262.13     1150.680
8585 2014-10-09 11:30:00       -1  1420.46   1420.46    465.66     1038.315
8586 2014-10-09 11:30:00       -1  1401.52   1420.46    465.66     1038.315
8587 2014-10-09 11:30:00        0  1048.96   1048.96    336.18      554.230
8588 2014-10-09 11:30:00        0   989.99   1048.96    336.18      554.230
8589 2014-10-09 11:30:00        0  1027.67   1048.96    336.18      554.230
8590 2014-11-16 03:42:00       -6  1018.65   1100.81    433.64      697.190
8591 2014-11-16 03:42:00       -6  1100.81   1100.81    433.64      697.190
8592 2014-11-16 03:42:00       -6  1073.81   1100.81    433.64      697.190
8593 2014-11-16 03:42:00       -6  1073.81   1100.81    433.64      697.190
8594 2014-11-16 03:42:00       -5  1112.01   1112.01    275.42      500.240
8595 2014-11-16 03:44:00       -6  1360.61   1442.23    403.14      537.285
8596 2014-11-16 03:44:00       -6  1442.23   1442.23    403.14      537.285
8597 2014-11-16 03:44:00       -5  1248.12   1317.36    278.01      569.870
8598 2014-11-16 03:44:00       -5  1317.36   1317.36    278.01      569.870
8599 2014-11-16 03:44:00       -4  1181.49   1248.12    214.38      514.810
8600 2014-11-16 03:44:00       -4  1181.49   1248.12    214.38      514.810
8601 2014-11-16 03:44:00       -4  1248.12   1248.12    214.38      514.810
8602 2014-11-16 03:46:00       -6  1248.63   1248.63    493.21      894.690
8603 2014-11-16 03:46:00       -5  1311.02   1311.02    259.92      626.270
8604 2014-11-16 03:46:00       -5  1311.02   1311.02    259.92      626.270
8605 2014-11-16 03:46:00       -4  1311.02   1311.02    203.74      508.680
8606 2014-11-16 03:46:00       -4  1311.02   1311.02    203.74      508.680

      MLAT
0     60.5
1     59.5
2     60.0
3     59.0
4     62.0
5     62.5
6     63.0
7     63.5
8     64.0
9     62.5
10    62.5
11    63.5
12    64.5
13    60.5
14    61.0
15    60.0
16    61.5
17    62.0
18    62.5
19    61.0
20    61.5
21    60.0
22    59.5
23    61.5
24    63.0
25    63.5
26    64.0
27    64.5
28    64.0
29    64.5
...    ...
8577  60.5
8578  61.0
8579  61.5
8580  60.0
8581  59.5
8582  60.5
8583  61.0
8584  58.0
8585  60.5
8586  61.0
8587  60.0
8588  59.5
8589  59.0
8590  60.5
8591  61.0
8592  61.5
8593  62.0
8594  61.5
8595  60.5
8596  61.0
8597  61.5
8598  62.0
8599  60.5
8600  61.0
8601  61.5
8602  61.5
8603  61.0
8604  61.5
8605  61.0
8606  61.5

[8607 rows x 7 columns]

In [8]:
# sapsDF[ sapsDF["date"] == datetime.datetime(2011,4,3,4,26) ][selCols]
latWidthDF = sapsDF.groupby( ["date", "normMLT"] )["MLAT"].aggregate(lambda x: max(x)-min(x)).reset_index()
selLatWidthDates = latWidthDF[ latWidthDF["MLAT"] <= 2. ]["date"].tolist()
saidDF = sapsDF[ sapsDF["date"].isin(selLatWidthDates) ].reset_index(drop=True) 
saidDF.head()

,index,date,normMLT,vSapsMax,azimMax,mlatMax,vSapsMin,azimMin,mlatMin,vSapsMedian,...,hour,dst_date,dst_index,dst_bin,AE,AL,AO,AU,minute,count
0,13,2011-03-12 00:50:00,-5,1179.78,4.11,61,188.28,2.68,58.5,942.67,...,0,2011-03-12 00:00:00,-60,"(-75, -50]",538,-333,-64,205,50,2066
1,21,2011-03-12 00:50:00,-4,1128.93,4.25,61,489.12,2.68,58.0,1004.24,...,0,2011-03-12 00:00:00,-60,"(-75, -50]",538,-333,-64,205,50,3091
2,22,2011-03-12 00:50:00,-4,1128.93,4.25,61,489.12,2.68,58.0,1004.24,...,0,2011-03-12 00:00:00,-60,"(-75, -50]",538,-333,-64,205,50,2919
3,23,2011-03-12 00:50:00,-4,1128.93,4.25,61,489.12,2.68,58.0,1004.24,...,0,2011-03-12 00:00:00,-60,"(-75, -50]",538,-333,-64,205,50,3120
4,70,2011-04-03 04:08:00,-4,1252.99,-13.03,65,425.48,-19.70,59.5,1101.47,...,4,2011-04-03 04:00:00,-35,"(-50, -25]",322,-175,-14,147,8,1960

In [9]:
saidDF["dateStr"] = saidDF["date"].map(lambda x: x.strftime('%Y%m%d'))
saidDF["timeStr"] = saidDF["date"].map(lambda x: x.strftime('%H%M'))
timesDF = saidDF.groupby( ["dateStr"] )["timeStr"].aggregate(lambda x: len(list(set(x)))).reset_index()
# Select only those days where we have atleast 10 unique times of SAPS measurements
selMultiTimeDates = timesDF[ timesDF["timeStr"] >= 10 ]["dateStr"].tolist()
saidDF = saidDF[ saidDF["dateStr"].isin(selMultiTimeDates) ].reset_index(drop=True) 
saidDF.head()

,index,date,normMLT,vSapsMax,azimMax,mlatMax,vSapsMin,azimMin,mlatMin,vSapsMedian,...,dst_index,dst_bin,AE,AL,AO,AU,minute,count,dateStr,timeStr
0,70,2011-04-03 04:08:00,-4,1252.99,-13.03,65,425.48,-19.7,59.5,1101.47,...,-35,"(-50, -25]",322,-175,-14,147,8,1960,20110403,0408
1,71,2011-04-03 04:08:00,-4,1252.99,-13.03,65,425.48,-19.7,59.5,1101.47,...,-35,"(-50, -25]",322,-175,-14,147,8,1671,20110403,0408
2,72,2011-04-03 04:08:00,-4,1252.99,-13.03,65,425.48,-19.7,59.5,1101.47,...,-35,"(-50, -25]",322,-175,-14,147,8,1282,20110403,0408
3,75,2011-04-03 04:08:00,-4,1252.99,-13.03,65,425.48,-19.7,59.5,1101.47,...,-35,"(-50, -25]",322,-175,-14,147,8,959,20110403,0408
4,76,2011-04-03 04:08:00,-4,1252.99,-13.03,65,425.48,-19.7,59.5,1101.47,...,-35,"(-50, -25]",322,-175,-14,147,8,708,20110403,0408

In [10]:
testDF = saidDF.groupby( ["dst_bin"] ).mean()
printCols = [ "normMLT", "vSaps", "vSapsMax", "vSapsMin", "vSapsMedian", "MLAT"]
testDF[printCols].head()

,normMLT,vSaps,vSapsMax,vSapsMin,vSapsMedian,MLAT
dst_bin,,,,,,
"(-10, 10]",-1.445344,1354.061862,1371.701296,368.617004,867.161559,62.888664
"(-150, -75]",-4.518253,1456.834739,1476.956943,517.407275,1005.997464,57.079205
"(-25, -10]",-3.152200,1288.095089,1307.992152,370.997729,720.152955,61.939358
"(-50, -25]",-3.703090,1299.428893,1320.245742,347.136952,767.369534,60.287640
"(-75, -50]",-3.998545,1367.125578,1387.129040,417.925556,817.524651,58.714909

In [11]:
saidDF[ saidDF["dst_bin"] == "(-10, 10]" ][selCols].head(10)

,date,normMLT,vSaps,vSapsMax,vSapsMin,vSapsMedian,MLAT
510,2011-07-20 06:18:00,-3,1093.80,1154.50,500.40,558.300,63.0
511,2011-07-20 06:18:00,-3,1154.50,1154.50,500.40,558.300,63.5
512,2011-07-20 06:18:00,-3,1154.50,1154.50,500.40,558.300,64.0
513,2011-07-20 06:18:00,-2,1093.80,1154.50,459.78,496.835,63.0
514,2011-07-20 06:18:00,-2,1154.50,1154.50,459.78,496.835,63.5
515,2011-07-20 06:18:00,-2,1154.50,1154.50,459.78,496.835,64.0
516,2011-07-20 06:18:00,0,1013.18,1094.52,260.02,765.535,60.5
517,2011-07-20 06:18:00,0,1094.52,1094.52,260.02,765.535,61.0
518,2011-07-20 06:22:00,-1,1090.48,1090.48,347.34,448.540,61.0
519,2011-07-20 06:22:00,-1,1051.69,1090.48,347.34,448.540,61.5